---
import { Image } from "astro:assets";
import Hero from "@/assets/hero.jpeg";
---

<section>
  <Image
    widths={[480, 768, 1024, 1440]}
    sizes="(max-width: 480px) 480px, (max-width: 768px) 768px, 100vw"
    loading="eager"
    class="hero-img"
    src={Hero}
    alt="hero"
  />
  <div class="wrapper">
    <h1>Empresa de festejos</h1>
  </div>
</section>

<style>
  section {
    position: relative;
    min-height: calc(100dvh - var(--header-height));
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 52px;
    color: var(--white);
    text-shadow: 1px 1px 10px var(--primary);
    letter-spacing: 3px;
  }

  .hero-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
</style>
